* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: all .5s;
}

:root {
    --red: #F96167;
    --green: rgb(80, 122, 87);
    --secondary-font: "Montez", cursive;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;

    & .leftheader {
        width: 50%;
        font-family: var(--secondary-font);
        font-size: 3.6rem;
        font-weight: bolder;
        color: var(--red);
    }

    & .rightheader {
        width: 50%;
        height: 100%;

        & ul {
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 4rem;

            & li {
                & a {
                    text-decoration: none;
                    font-family: var(--secondary-font);
                    font-size: 2.4rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all .2s;
                    color: black;
                }

                & a:hover {
                    color: var(--red);
                }
            }

        }
    }
}

.hero-section {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;


    & div {
        overflow: hidden;
    }

    & .item1 {
        grid-area: 1 / 2 / 2 /4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 2rem;


        & h1 {
            font-size: 6rem;
            font-weight: bolder;

            & span {
                color: var(--green);
            }
        }

        & h1::first-letter {
            font-size: 10rem;
        }

        & .inputgroup {
            width: 60rem;
            height: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            border-radius: 6px;
            transition: all .5s;

            & input {
                width: 80%;
                height: 100%;
                padding: 5px;
                outline: 0;
                border: 0;
                font-size: 1.6rem;
                border-radius: 6px;
                padding-left: 2rem;
            }

            & button {
                width: 20%;
                height: 100%;
                border: 0;
                background-color: var(--red);
                font-size: 1.6rem;
                font-weight: bold;
                cursor: pointer;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                transition: all .4s;
            }

            & button:hover {
                scale: 1.04;
                color: white;
            }
        }
    }

    & .item2,
    .item3 {
        grid-area: 1 / 1 / 3/ 2;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 10px;

        & .imagediv {
            width: 90%;
            height: 48%;
            background-color: var(--red);
            border-radius: 12px;
            background-size: cover;
            background-repeat: no-repeat;
            animation: sideup 20s infinite;
        }

        & .imagediv:first-child {
            transform: translateX(-30%);
            animation: sideleft 20s infinite;
        }
    }

    & .item3 {
        grid-area: 1/4/3/5;
        align-items: end;

        & .imagediv {
            animation: sideupright 20s infinite;
        }

        & .imagediv:first-child {
            transform: translateX(30%);
            animation: sideright 20s infinite;
        }
    }

    & .item4 {
        grid-area: 2 / 2 / 3/ 4;
        display: flex;
        justify-content: space-between;
        align-items: end;

        & .imagediv {
            width: 32%;
            height: 90%;
            border-radius: 12px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        & .imagediv:first-child {
            animation: firstedown 20s infinite;
        }

        & .imagediv:last-child {
            animation: lastdown 20s infinite;
        }

        & .imagediv:nth-child(2) {
            transform: translateY(40%);
            animation: middledown 20s infinite;
        }
    }


    & .down {
        width: 5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        left: 95%;
        top: 90%;
        transform: translate(-50%, -50%);
        z-index: 10;
        border: 0;
        background-color: var(--green);
        font-size: 2rem;
        animation: move .7s infinite alternate;
        cursor: pointer;
    }

}

@keyframes move {
    from {
        transform: translate(-50%, -20%);
    }

    to {
        transform: translate(-50%, 0%);
    }

}



.hero-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.685) 90%);
    width: 100%;
    height: 4em;
}


.section2 {
    width: 100vw;
    height: fit-content;

    & .hedaing {
        width: 100%;
        height: 10%;
        display: grid;
        place-content: center;
        padding-block: 7rem;


        & h1 {
            font-size: 6.4rem;
            font-family: var(--secondary-font);
            font-weight: bolder;
            color: var(--red);
            text-decoration: underline;
        }


    }

    & .image-container {
        width: 100vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, 25rem);
        gap: 1rem;
        place-content: center;
        padding-bottom: 10rem;

        & .image {
            width: 25rem;
            aspect-ratio: 1;
            position: relative;
            z-index: 1;

            & img {
                width: 25rem;
                aspect-ratio: 1;
                object-fit: cover;
                cursor: pointer;
                transition: all .3s;
                border: 1px solid black;
                border-radius: 6px;
            }

            & button {
                display: none;
                width: fit-content;
                height: fit-content;
                cursor: pointer;
                background: none;
                border: 0;
                font-size: 2.4rem;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 1rem;
                animation: come 1s;
                color: white;
                transition: all .3s;
            }

            & button:hover {
                scale: 1.1;
            }

            & .edit {
                left: 0;
            }
        }

        & .image:hover {
            & img {
                scale: 1.04;
            }

            & button {
                display: inline;
            }


        }
    }
}

@keyframes come {
    from {
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.buttondiv{
    width: 100vw;
    height: fit-content;
    padding: 2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clear-button{
    width: 5rem;
    aspect-ratio: 1;
    border-radius:50%;
    border: 1px solid ;
    font-size: 1.8rem;
    background-color: var(--green);
    cursor: pointer;
    font-weight: 700;
    transition: all .3s;
    color: white;
    position: absolute;
    right: 5%;
     & a{
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
     }

}
.empty{
    width: 100vw;
    height: 50vh;
    display: grid;
    place-content: center;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 2;
    }

}
.clear-button:hover{
    scale: 1.1;
    color: white;
}


footer {
    width: 100vw;
    height: 5vh;
    display: grid;
    place-content: center;

    & p {
        font-size: 2rem;
        font-family: serif;

        & span {
            color: var(--red);
        }

        & a {
            color: black;
        }
    }
}


/* ===============Hero section Animation section ================== */

@keyframes firstedown {
    0% {
        transform: translateY(110%);
        background-image: url("./image/photo1.jpeg");
    }

    10% {
        transform: translateY(5%);
        background-image: url("./image/photo1.jpeg");
    }

    40% {
        transform: translateY(5%);
        background-image: url("./image/photo1.jpeg");
    }

    50% {
        transform: translateY(110%);
        background-image: url("./image/photo1.jpeg");
    }

    60% {
        transform: translateY(5%);
        background-image: url("./image/phpto2.jpg");
    }

    90% {
        transform: translateY(5%);
        background-image: url("./image/phpto2.jpg");
    }

    100% {
        transform: translateY(110%);
        background-image: url("./image/phpto2.jpg");
    }
}


@keyframes lastdown {
    0% {
        transform: translateY(110%);
        background-image: url("./image/photo3.jpg");
    }

    10% {
        transform: translateY(5%);
        background-image: url("./image/photo3.jpg");
    }

    40% {
        transform: translateY(5%);
        background-image: url("./image/photo3.jpg");
    }

    50% {
        transform: translateY(110%);
        background-image: url("./image/photo3.jpg");
    }

    60% {
        transform: translateY(5%);
        background-image: url("./image/photo4.jpg");
    }

    90% {
        transform: translateY(5%);
        background-image: url("./image/photo4.jpg");
    }

    100% {
        transform: translateY(110%);
        background-image: url("./image/photo4.jpg");
    }
}


@keyframes middledown {
    0% {
        transform: translateY(100%);
        background-image: url("./image/photo5.jpg");
    }

    10% {
        transform: translateY(40%);
        background-image: url("./image/photo5.jpg");
    }

    40% {
        transform: translateY(40%);
        background-image: url("./image/photo5.jpg");
    }

    50% {
        transform: translateY(100%);
        background-image: url("./image/photo5.jpg");
    }

    60% {
        transform: translateY(40%);
        background-image: url("./image/photo6.jpg");
    }

    90% {
        transform: translateY(40%);
        background-image: url("./image/photo6.jpg");
    }

    100% {
        transform: translateY(100%);
        background-image: url("./image/photo6.jpg");
    }
}

@keyframes sideup {
    0% {
        transform: translateY(100%);
        background-image: url("./image/photo7.jpg");
    }

    10% {
        transform: translateY(0%);
        background-image: url("./image/photo7.jpg");
    }

    40% {
        transform: translateY(0%);
        background-image: url("./image/photo7.jpg");
    }

    50% {
        transform: translateY(100%);
        background-image: url("./image/photo7.jpg");
    }

    60% {
        transform: translateY(0%);
        background-image: url("./image/photo8.jpg");
    }

    90% {
        transform: translateY(0%);
        background-image: url("./image/photo8.jpg");
    }

    100% {
        transform: translateY(100%);
        background-image: url("./image/photo8.jpg");
    }
}

@keyframes sideupright {
    0% {
        transform: translateY(100%);
        background-image: url("./image/photo10.jpeg");
    }

    10% {
        transform: translateY(0%);
        background-image: url("./image/photo10.jpeg");
    }

    40% {
        transform: translateY(0%);
        background-image: url("./image/photo10.jpeg");
    }

    50% {
        transform: translateY(100%);
        background-image: url("./image/photo10.jpeg");
    }

    60% {
        transform: translateY(0%);
        background-image: url("./image/photo11.jpeg");
    }

    90% {
        transform: translateY(0%);
        background-image: url("./image/photo11.jpeg");
    }

    100% {
        transform: translateY(100%);
        background-image: url("./image/photo11.jpeg");
    }
}


@keyframes sideleft {
    0% {
        transform: translateX(-100%);
        background-image: url("./image/dog1.jpg");
    }

    10% {
        transform: translateX(-30%);
        background-image: url("./image/dog1.jpg");
    }

    40% {
        transform: translateX(-30%);
        background-image: url("./image/dog1.jpg");
    }

    50% {
        transform: translateX(-100%);
        background-image: url("./image/dog1.jpg");
    }

    60% {
        transform: translateX(-30%);
        background-image: url("./image/dog2.jpg");
    }

    90% {
        transform: translateX(-30%);
        background-image: url("./image/dog2.jpg");
    }

    100% {
        transform: translateX(-100%);
        background-image: url("./image/dog2.jpg");
    }
}

@keyframes sideright {
    0% {
        transform: translateX(100%);
        background-image: url("./image/Bride.jpg");
    }

    10% {
        transform: translateX(30%);
        background-image: url("./image/Bride.jpg");
    }

    40% {
        transform: translateX(30%);
        background-image: url("./image/Bride.jpg");
    }

    50% {
        transform: translateX(100%);
        background-image: url("./image/Bride.jpg");
    }

    60% {
        transform: translateX(30%);
        background-image: url("./image/groom.jpg");
    }

    90% {
        transform: translateX(30%);
        background-image: url("./image/groom.jpg");
    }

    100% {
        transform: translateX(100%);
        background-image: url("./image/groom.jpg");
    }
}

/* =================Responsive ======================= */

@media only screen and (max-width : 1250px) {
    html {
        font-size: 50%;
    }

    .hero-section {
        & .item1 {
            & .inputgroup {
                width: 50rem;
            }
        }
    }
}

@media only screen and (max-width : 850px) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-width : 650px) {
    html {
        font-size: 50%;
    }

    header {
        & .leftheader {
            width: 100%;
            text-align: center;
            font-size: 4.5rem;
        }

        & .rightheader {
            display: none;
        }
    }

    .hero-section {
        height: 70vh;

        & .item1 {
            grid-area: 1 / 1 / 2 /5;
        }

        & .item2,
        .item3 {
            grid-area: 2 / 1 / 3/ 2;
        }

        & .item3 {
            grid-area: 2/4/3/5;
        }

        & .item4 {
            & .imagediv {
                width: 48%;
            }

            & .imagediv:nth-child(2) {
                display: none;
            }
        }

        .down {
            font-size: 1.4rem;
            left: 50%;
        }
    }
}

@media only screen and (max-width : 425px) {
    html {
        font-size: 35%;
    }

    .hero-section {
        height: 60vh;

        & .item4 {
            justify-content: center;

            & .imagediv {
                width: 90%;
            }

            & .imagediv:nth-child(2) {
                display: none;
            }

            & .imagediv:last-child {
                display: none;
            }
        }
    }
}